body {
  margin: 0px;
}

ul {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slider-wrapper {
  overflow: hidden;
}

.slider {
  display: flex;
}

.slide:hover {
  will-change: transform;
}

.slider li {
  flex-shrink: 0;
  max-width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  opacity: 0.8;
  transform: scale(0.8);
  transition: 0.4s;
}

.slider li.active {
  opacity: 1;
  transform: scale(1);
}

.arrow-nav {
  background-color: tomato;
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.prev {
  padding: 1rem 1.5rem;
}

.next {
  padding: 1rem 1.5rem;
}
